{% extends "layout.html" %}
{% set active_page = "extract" %}
{% block content %}


<div class="px-4 py-5 my-5 text-center">
  <h1 class="display-5 fw-bold">Extract watermark</h1>
  <div class="col-lg-6 mx-auto">
    <p class="lead mb-4">
      <div class="card card-body bg-light">
	<form method="POST" enctype="multipart/form-data" action="">
	  {{ form.hidden_tag() }}
	  <fieldset class="form-group">
	    <div class="form-group">
	      {{ form.image.label(class="form-control-label") }}
	      {{ form.image(class="form-control") }}
	    </div>
	    <br/>
	    <!-- The watermark image size now is fixed, so we don't need this field anymore	    
	    <div class="form-group">
	      {#
	          {{ form.signature_len.label(class="form-control-label") }}
	          {{ form.signature_len(class="form-control") }}
	      #}
	    </div> -->
      </div>
      <br/>
      <div class="form-group d-grid gap-2 d-sm-flex justify-content-sm-center">
	{{ form.submit(class="btn btn-primary btn-lg px-4 gap-3") }}
      </div>
      </fieldset>
      </form>
    </p>
  </div>
</div>
{% endblock content %}
    

